In [3]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.patheffects as path_effects


file_path = r"E:\Projects\Gamezone Orders Data\gamezone_orders_data_cleaned.csv"
df = pd.read_csv(
    file_path,
    parse_dates=['purchase_ts_cleaned', 'ship_ts'],
    dtype={
        'purchase_year': 'Int64',
        'purchase_month': 'Int64',
        'time_to_ship': 'Int64',
        'revenue': 'float'
    },
    encoding='utf-8',
    keep_default_na=False,
    na_values=['']  # Only treat empty strings as NaN
)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21864 entries, 0 to 21863
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   user_id                          21864 non-null  object
 1   order_id                         21864 non-null  object
 2   purchase_ts                      21864 non-null  object
 3   purchase_ts_cleaned              21863 non-null  datetime64[ns]
 4   purchase_year                    21864 non-null  Int64
 5   purchase_month                   21864 non-null  Int64
 6   time_to_ship                     21864 non-null  Int64
 7   ship_ts                          21864 non-null  datetime64[ns]
 8   product_name                     21864 non-null  object
 9   product_name_cleaned             21864 non-null  object
 10  product_id                       21864 non-null  object
 11  usd_price                        21859 non-null  object
 12  purchase_platform                21864 non-null  object
 13  marketing_channel                21781 non-null  object
 14  marketing_channel_cleaned        21864 non-null  object
 15  account_creation_method          21781 non-null  object
 16  account_creation_method_cleaned  21864 non-null  object
 17  country_code                     21864 non-null  object
 18  date_check                       21864 non-null  bool
 19  region                           21864 non-null  object
 20  revenue                          21830 non-null  float64
dtypes: Int64(3), bool(1), datetime64[ns](2), float64(1), object(14)
memory usage: 3.4+ MB

In [4]:
channel_performance = (
    df.groupby('marketing_channel_cleaned')
    .agg(
        total_revenue=('revenue', 'sum'),
        total_orders=('order_id', 'nunique'),
        unique_customers=('user_id', 'nunique')
    )
    .reset_index()
)

channel_performance

  marketing_channel_cleaned  total_revenue  total_orders  unique_customers
0                 affiliate      222428.31           714               648
1                    direct     5209858.66         17315             15794
2                     email      611182.72          3239              2985
3              social media       69526.37           320               304
4                   unknown       38270.43           129               120

In [5]:
channel_performance.to_csv('channel_performance.csv', index=False)